---
// import Welcome from '../components/Welcome.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

let response = await fetch('https://deckofcardsapi.com/api/deck/new/shuffle/?deck_count=1')
let data = await response.json()
---

<BaseLayout>
	<!-- <Welcome /> -->
	<h1>BALATRO AT HOME!</h1>
	<!-- <h6 class="deckID">DeckID</h6> -->
	<h6>{data.deck_id}</h6>
	<!-- <script type="text/javascript" src="../utils/main.js"></script> -->
</BaseLayout>
