---
import BaseLayout from '../layouts/BaseLayout.astro'
import DrawButton from '../components/DrawButton.astro'
import ResetButton from '../components/ResetButton.astro'
import DeckID from '../components/DeckID.astro'
import HandCard from '../components/HandCard.astro'
import DiscardButton from '../components/DiscardButton.astro'
---

<BaseLayout>
	<h1>BALATRO AT HOME!</h1>
  <DeckID />
  <ResetButton />
  <DiscardButton />
  <h2 class="status"></h2>
  <h3 class="player1">Player 1</h3>
  <img src="" alt="" class="player1">
  <h3 class="player2">Player 2</h3>
  <img src="" alt="" class="player2">
  <HandCard />
  <DrawButton />
</BaseLayout>
