<div class="flex justify-center flex-col">
  <div class="hand-card-container flex justify-center">
  </div>
  <div class="flex justify-center">
    <span class="currenthand"></span>
  </div>
</div>

<script>
  import { $handLimit, $currentHand } from '../utils/handStores.js'

  // if the currentHand value is changed from the drawbutton then it will change the span to the appropriate number of cards on our hand
  const handListener = $currentHand.subscribe((value, oldValue) => {
    document.querySelector('span.currenthand').innerText = `${$currentHand.get()} / ${$handLimit.get()}`
    console.log(`currentHand value changed from ${oldValue} to ${value}`)
  })
</script>
