---
// import type { ImageMetadata } from 'astro';
// // import { Image } from 'astro:assets';
//
// interface Props {
//    imagePath: string;
// }
//
// const { imagePath } = Astro.props;
// const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}')
// console.log(images)
---

<!-- <draw-button data-images=images> -->
<draw-button>
  <button class="draw-btn">Draw</button>
</draw-button>

<script>
  import { drawCard, baseDeck } from '../utils/card.js'
  import { $deck, $remainingDeck } from '../utils/deckStores.js'
  import { $handLimit, $currentHand } from '../utils/handStores.js'

  class DrawButton extends HTMLElement {
    constructor() {
      super()

      const button = this.querySelector('button.draw-btn')
      button.addEventListener('click', () => {
        // TODO: if deckstore does exist then get the current value type arr
        // if not then get the baseDeck
        // let {drawedCard, deck } = drawCard(baseDeck, $handLimit.get())
        let drawedCard, deck
        if($deck.get().length == 0) {
          let dd = drawCard(baseDeck, $handLimit.get())
          drawedCard = dd.drawedCard
          deck = dd.deck
          console.log('0')
        } else {
          let dd = drawCard($deck, $handLimit.get())
          drawedCard = dd.drawedCard
          deck = dd.deck
          console.log('1')
        }
        console.log(drawedCard, deck)
        $deck.set(deck)
        $remainingDeck.set($deck.get().length)
        // $drawedCard.set($deck.get().length)
        // console.log($deck.get())

        if($currentHand == 0) {
          $currentHand.set(drawedCard.length)
        } else {
          $currentHand.set($currentHand.get() + drawedCard.length)
        }

        drawedCard.forEach((element, index) => {
          const div = document.createElement('div')
          const img = document.createElement('img')
          const input = document.createElement('input')

          input.type = 'checkbox'
          input.value = element.code
          input.classList.add(`card-checkbox`)
          // TODO: set the src to the local pic
          // TODO: search how to dynamically import img in astro.js
          // well atleast just getting the img from the web itself works :|
          img.src = `https://deckofcardsapi.com/static/img/${element}.png`

          div.appendChild(img)
          div.appendChild(input)
          document.querySelector('div.hand-card-container').appendChild(div)
        })
      })
    }
  }

  customElements.define('draw-button', DrawButton)
</script>
