<playhand-button>
  <button class="playhand-btn">Play Hand</button>
</playhand-button>

<script>
  import { $deck, $remainingDeck, $discardedCard } from '../utils/deckStores.js'
  import { $handLimit, $currentHand, $currentPlayed, $playedCard } from '../utils/handStores.js'
  import { $roundScore, $round } from '../utils/gameStores.js'
  import { winCond } from '../utils/blind.js'
  import { count, drawCard, baseDeck } from '../utils/card.js'

  class PlayhandButton extends HTMLElement {
    constructor() {
      super()

      let cards = []
      const button = this.querySelector('button.playhand-btn')

      button.addEventListener('click', () => {
        let currentPlayed = []
        let ticked = document.querySelectorAll('input.card-checkbox')
        console.log(ticked)

        // checked which checkbox is being ticked
        ticked.forEach(box => {
          if(box.checked) {
            cards.push(box.value)
            currentPlayed.push(box.value)
            box.parentElement.remove()
          }
        })
        
        // set the discardedCard stores to cards and set currentHand stores to the currently discarded card minus the currentHand
        $currentPlayed.set(cards)
        $currentHand.set($currentHand.get() - currentPlayed.length)
        console.log($currentHand.get())

        //count the score logic
        console.log($currentPlayed.get())
        let countnow = count($currentPlayed.get())
        $roundScore.set(countnow)
        let win = winCond(countnow, 10)
        console.log(countnow)
        console.log(win)

        if(win === true) {
          $round.set($round.get() + 1)
        }

        console.log($deck.get())
        console.log($handLimit.get(), $currentHand.get())
        let {drawedCard, deck } = drawCard($deck.get(), $handLimit.get() - $currentHand.get())
        console.log(drawedCard, deck)
        $remainingDeck.set(deck.length)
        $deck.set(deck)
        $currentHand.set($currentHand.get() + drawedCard.length)

        //Card display logic
        drawedCard.forEach((element, index) => {
          const div = document.createElement('div')
          const img = document.createElement('img')
          const input = document.createElement('input')

          input.type = 'checkbox'
          input.value = `${element}`
          input.classList.add(`card-checkbox`)
          img.src = `https://deckofcardsapi.com/static/img/${element}.png`

          div.appendChild(img)
          div.appendChild(input)
          document.querySelector('div.hand-card-container').appendChild(div)
        })
      })
    }
  }

  customElements.define('playhand-button', PlayhandButton)
</script>
