<playhand-button>
  <button class="playhand-btn">Play Hand</button>
</playhand-button>

<script>
  import { $deckId, $remainingDeck, $discardedCard } from '../utils/deckStores.js'
  import { $handLimit, $currentHand, $currentPlayed, $playedCard } from '../utils/handStores.js'
  import { $roundScore, $round } from '../utils/gameStores.js'
  import { winCond } from '../utils/blind.js'
  import { count } from '../utils/card.js'

  class PlayhandButton extends HTMLElement {
    constructor() {
      super()

      let cards = []
      const button = this.querySelector('button.playhand-btn')

      button.addEventListener('click', () => {
        let currentPlayed = []
        let ticked = document.querySelectorAll('input.card-checkbox')
        console.log(ticked)

        // checked which checkbox is being ticked
        ticked.forEach(box => {
          if(box.checked) {
            cards.push(box.value)
            currentPlayed.push(box.value)
            box.parentElement.remove()
          }
        })
        
        // set the discardedCard stores to cards and set currentHand stores to the currently discarded card minus the currentHand
        $currentPlayed.set(cards)
        // $playedCard.set($currentPlayed.get())
        console.log($currentPlayed.get())
        $currentHand.set($currentHand.get() - currentPlayed.length)

        //count the score logic
        console.log($currentPlayed.get())
        let countnow = count($currentPlayed.get())
        $roundScore.set(countnow)
        let win = winCond(countnow, 10)
        console.log(countnow)
        console.log(win)

        if(win === true) {
          // $ante.set($ante.get() + 1)
          $round.set($round.get() + 1)
        }

        // then draw again by the currentHand - hand limit
        const url = `https://deckofcardsapi.com/api/deck/${$deckId.get()}/draw/?count=${$handLimit.get() - $currentHand.get()}`

        fetch(url)
          .then(res => res.json()) // parse response as JSON
          .then(data => {
            if($currentHand == 0) {
              $currentHand.set(data.cards.length)
            } else {
              $currentHand.set($currentHand.get() + data.cards.length)
            }

            $remainingDeck.set(data.remaining)

            //debugging
            console.log(data)
            console.log($currentHand.get())

            //Card display logic
            data.cards.forEach((element, index) => {
              const div = document.createElement('div')
              const img = document.createElement('img')
              const input = document.createElement('input')

              input.type = 'checkbox'
              input.value = element.code
              input.classList.add(`card-checkbox`)
              img.src = element.image

              div.appendChild(img)
              div.appendChild(input)
              document.querySelector('div.hand-card-container').appendChild(div)
            })
          })
          .catch(err => {
            console.log(`error ${err}`)
          })
      })
    }
  }

  customElements.define('playhand-button', PlayhandButton)
</script>
